/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --shadow_color: rgb(214, 214, 214);
}

body {
    font-family: 'Fredoka', sans-serif;
    color: white;
}

header {
    color: rgb(228, 54, 54);
    text-align: center;
    font-size: 1.2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.paragraph {
    color: black;
    width: 67%;
    font-size: 1.1rem;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3rem;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.col {
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 10px;
}

.card {
    background-color: rgb(24, 24, 24);
    box-shadow: 3px 3px 10px var(--shadow_color), -3px 3px 10px var(--shadow_color), -3px -3px 10px var(--shadow_color), 3px -3px 10px var(--shadow_color);
}

.card img {
    float: left;
    margin-right: 15px;
    width: 100px;
}

.mail {
    color: rgb(41, 151, 241);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 2rem;
}

.name, .job, .mail {
    padding: 0.3rem 0;
}