/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* RESET IMG */
img {
    max-width: 100%;
}

body {
    font-family: 'Fredoka', sans-serif;
    color: white;
}

header {
    color: rgb(228, 54, 54);
    text-align: center;
    font-size: 1.2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.paragraph {
    color: black;
    width: 67%;
    font-size: 1.1rem;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3rem;
}

.container {
    width: 67%;
    margin: 0 auto;
}

.col {
    float: left;
    width: calc(100% / 3);
    padding: 0 15px;
    text-align: left;
}

.card {
    background-color: rgb(24, 24, 24);
    height: 100px;
}

.col img {
    float: left;
    height: 100px;
    margin-right: 15px;
}

.mail {
    color: rgb(41, 151, 241);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 2rem;
}

.text {
    height: 100%;
    padding: 3px 0;
}

.name, .job, .mail {
    padding-top: 0.4rem;
}